* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

body {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 5em 0 2em;
}

#tuCompra,
#precioCrypto,
#usdCrypto,
#selectCrypto,
#monedaFiat
{
    background: transparent;
    border: 1px solid #6cacc5;
    color: #6cacc5;
}

.btn-outline-dark {
  color: #6cacc5;
  border: 1px solid #6cacc5;
}

.btn-outline-dark:hover {
  background: #6cacc5;
  border: 1px solid #6cacc5;
  color: #940056;
}

.btn-success {
  background: rgb(135, 252, 207);
  color:rgb(0, 25, 71)
}

form input {
  background-color: rgba(0,0,0,0);
}

textarea:focus,
input:focus {
  outline: none;
  color: #6cacc5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.cardShadow {
  border: 2px solid #6cacc5;
    box-shadow: rgba(88, 88, 88, 0.425) 0px 5px 15px;
}

.fiatCalculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.addCryptoForm {
  width: 800px;
}

  .buttonForm {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 3em;
  }

  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

.cantidadDolares {
  font-size: 3em;
}

.resultadoDolares {
  font-weight: 600;
  color: rgb(135, 252, 207);
}


.calculadoraDolar form {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

.calculadoraDolar form input {
  height: 85px;
  font-size: 2em;
}

.calculadoraDolar form select {
  height: 25px;
}

.completePortfolio {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(182, 182, 182);
  width: 50%;
}

.portfolioButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}
.portfolioButton {
  width: 250px;
  height: 50px;
}

.card { 
  margin-bottom: 1.2em;
}

.sectionB {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 5px solid #6cacc5;
  border-radius: 10px;
  margin: .8em 5em;
  padding: 3em;
}

.cryptoCalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

  .cryptoCalculator h4 {
    margin-bottom: 1.3em;
    
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.2em;
  }

  .customCard {
      width: 350px;
      display: flex;
      flex-direction: column;
      padding: 3em;
  }

  .card-body {
    margin: auto;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .card-title {
    font-size: 1.7em;
  }
  .card-subtitle {
    font-size: 1em;
  }

  ul li {
    letter-spacing: 0.035em;
  }

  ul li span {
    font-weight: 800;
  }

